@import "footer.css";
@import "body.css";
@import "header.css";



#con {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 250px 550px 300px;
    grid-template-areas:
        "h h h h h h"
        "m m m m s s"
        "f f f f f f";
}

#s1 {
    grid-area: h;
    
}

#s2 {
    grid-area: m;
    
}

#s3 {
    grid-area: s;
    
}

#s4 {
    grid-area: f;
    
}

@media (min-width:600px) {
    #con {
        grid-template-rows: 150px 350px 200px;

    }
}

@media (max-width:1100px) {
    #con {

        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 250px 550px 300px 300px;
        grid-template-areas:
            ". h h ."
            ". m m ."
            ". s s ."
            ". f f .";
    }
}